.modal {
    max-width: 850px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 16px;
    border: 2px solid red;
    font-size: 20px;
}

.modal::backdrop {
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.651);
}