.btn {
    background-color: blueviolet;
    color: whitesmoke;
    padding: 12px 24px;
    border-radius: 16px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: 300ms linear background;
}

.btn:not(:last-child) {
    margin-right: 24px;
}

.active {
    background-color: blue;
}

.block {
    display: block;
}