.btn-regular {
    background-color: blueviolet;
    color: whitesmoke;
    padding: 12px 24px;
    border-radius: 16px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.btn-regular:not(:last-child) {
    margin-right: 24px;
}